.panel.panel-default{
    margin-left: 20%;
}

.panel-title{
    font-size: 28px;
}

.panel-body{
    margin:20px;
}

.contact-item{
    border:1px solid #ddd;
    border-radius: 8px;
}

.contact-image{
    margin: 10px;
    width: 8rem;
}

.btn.btn-success{
float:right;
margin-right: 2rem;
}